.image-to-show {
    width: 400px;
    height: 400px;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.buttons-wrapper {
   display: flex;
    justify-content: center;
}
.btn {
    margin: 20px;
}

.hide-img {
    display: none;
}

.stop {
    margin-top: 10px;;
    border-radius: 25px;
    width: 250px;
    background-color: red;
    font-size: 20px;
}

.resume {
    margin-top: 10px;;
    border-radius: 25px;
    width: 250px;
    background-color: green;
    font-size: 20px;
}