body {
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
}

.container {
    min-width: 1200px;
}

#back-to-top {
    position: fixed;
    top: 90%;
    right: 10px;
    padding: 20px;

    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    color: #000;
}
/* титульный текст нескольких секций*/
.same-title {
    font-size: 27px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #18b4cf;
    align-self: center;
}

.header {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 2%, rgba(0, 0, 0, 0.5) 2%, rgba(0, 0, 0, 0.3) 30%),
    url('../img/header-bg.jpeg') no-repeat fixed right bottom 150px;
    background-size: cover;
}


.navbar {
    position: fixed;
    display: flex;
    justify-content: center;

    z-index: 1;
    min-width: 100%;
    height: 70px;
    color: #fff;
    background-color: #1d2124;
}
.wrapper-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1200px;
}

/*блок внутри которого лежит logo-image и logo-link*/
.navbar-logo-block {
    margin-left: 25px;
}
/* текст-ссылка рядом с логотипом */
.navbar-logo-link {
    margin-left: 30px;
    vertical-align: middle;

    color: #fff;
    font-size: 22px;
    font-weight: 700;
}

/* навигационное меню */
.navbar-menu {
    display: flex;
    width: 700px;
    list-style: none;
    justify-content: space-between;
}

.navbar-menu-link {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}
/* икнока поиска - делаем равные отступы
с помощью padding чтобы закрасить background*/
.navbar-search-icon {
    padding: 25px;
    background-color: #171a1c;
}

/* секция latest-news, задаем display:flex,
изменяем направление элементов с дефолтного значения (flex-direction: row)
на flex-direction: column, вертикально расположение элементов.
justify-content:center - центрируем по вертикали
align-items: center - центрируем по горизонтали */
.latest-news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 390px;
}

.latest-news-title {
    color: #fff;
    text-transform: uppercase;
    font-size: 27px;
}
/* контейнер для двух кнопок */
.latest-news-btn-container {
    margin-top: 45px;
}
/* основные параметры для двух кнопок */
.latest-news-btn-item {
    width: 170px;
    padding: 20px 0;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
}
/*классы для заднего фона каждой из кнопок */
.btn-subscribe-bg {
    background-color: #89ca62;
}
.btn-article-bg {
    background-color: #14b9d5;
}

/* блок most popular post */
.popular-posts {
    padding: 60px 0;
    background-color: #f2f2f2;
}

/* флекс контейнер для блок-карточек постов*/
.popular-posts-gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    margin: 50px auto 0;
    width: 1200px;
    height: 850px;
}
/* блок-карточки most popular posts*/
.popular-posts-gallery-item {
    background-color: #fff;
    margin-bottom: 30px;
}

/* текст-описание под картинкой */
.popular-posts-gallery-item-text {
    padding: 20px 0;
    font-size: 18px;
    color: #353a3d;
    text-align: center;
    font-weight: 700;
}

/* секция popular-clients и до футера выполняем гридами ,
эту секцию можно разбить на три ряда для этого используем
grid-template-rows */
.popular-clients {
    background: url('../img/parallax-bg.jpeg') no-repeat fixed;
    background-size: cover;
}

.popular-brands {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 590px;
    width: 880px;
    align-items: center;
    align-content: center;
    justify-items: center;
    margin: 0 auto;
}
/* титульный текст блока popular-clients */
.popular-brands-title {
    grid-column: 1/5;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.national-img {
    grid-column: 1/1;
}
.dryme-img {
    grid-column: 2/2;
}
.house-home {
    grid-column: 3/3;
}
.journy {
    grid-column: 4/4;
}
/*псевдоэлемент в виде линии после титульного текста
сделаем элемент блочный , дадим отступ сверху-снизу и отцентрируем по горизонтали
, сделаем линию используя border*/
.popular-brands-title::after {
    display: block;
    width: 60px;
    content: '';
    margin: 55px auto;
    border-top: 2px solid #169cb4;
}
/*после псевдоэлемента сделаем список брендов с отступами*/
.popular-brands-list-item {
    display: inline-block;
    margin: 0 35px;
}

/*секция из титульного текста и 7 картинок
задаём 2 ряда c разными размерами  */
.top-rated {
    display: grid;
    grid-template-rows: 0.5fr 1fr;
}

/* блоку в котором находятся 7-картинок разобьем на 7 одинаковых колонок */
.top-rated-images {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.top-rated-item {
    width: 100%;
}

/* секция hot-news имеет титул и картинки-посты
разобьем на 2 ряда */
.hot-news {
    display: grid;
    grid-template-rows: 0.07fr 1fr;
    background-color: #fff;
}
.hot-news img {
    width: 100%;
}

/*в блоке с постами изспользуем свойство grid-templates-areas
чтобы его использовать каждому блоку-посту нужно задать grid-area: name;
У нас 8-постов для каждого сделаем класс и зададим название */
.box1 {
    grid-area: box1;
}
.box2 {
    grid-area: box2;
}
.box3 {
    grid-area: box3;
}
.box4 {
    grid-area: box4;
}
.box5 {
    grid-area: box5;
}
.box6 {
    grid-area: box6;
}
.box7 {
    grid-area: box7;
}
.box8 {
    grid-area: box8;
}
/* */
.hot-news-posts {
    display: grid;
    margin: 0 auto;
    width: 1150px;

    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
            "box1 box1 box1 box2"

            "box3 box3 box4 box4"
            "box3 box3 box4 box4"

            "box5 box5 box6 box6"
            "box5 box5 box6 box6"

            "box7 box8 box8 box8";
    gap: 40px;
    /*background-color: lightblue;*/
}

/* первый длинный пост - в нём есть картинка и блок в котором текст
зададим display:flex чтобы элементы внутри встали в 1 ряд */
.news-long-post {
    display: flex;
}

/* блок текста для каждого поста
весь текст внутри блока будет смещен вправо */
.news-post-description-area {
    padding: 25px;
    background-color: #f9f7f7;
    text-align: right;
}
/* титул кадого поста */
.news-posts-title {
    font-size: 18px;
    font-weight: 700;
}
/* текст-описание каждого поста */
.news-post-description {
    margin-top: 20px;
    color: #5b6469;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
}

.news-short-post {
    background-color: #f9f7f7;
}
/* отдельный титул для короткого поста */
.news-short-posts-title {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.footer {
    display: grid;
    margin-top: 70px;
    height: 90px;
    color: #fff;
    align-items: center;
    background-color: #000;
}

.footer-items {
    display: flex;
    width: 1150px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.copyright {
    font-size: 13px;
}
.footer-logo-title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.footer-logo-title::before {
    content: url('../img/footer-logo.png');
}