@media screen and (min-width: 980px) {

  .food-list {
    display: flex;
  }

  .food-picture {
    width: 100%;
    height: 100%;
  }

  .food-list-item {
    flex-grow: 1;
  }

  .food-list-item-title {
    font-size: 38px;
  }

  .food-list-title-img {
    width: 100%;
    height: 100%;
  }

  .food-list-item-arrow {
    display: none;
  }
}