@media screen and (min-width: 320px) {


  .food-list {
    margin-top: 4px;
  }
  .food-picture {
    width: 100%;
  }

  .food-list-item {
    display: flex;
    margin-bottom: 2px;
  }

  .food-list-title-container {
    @include flexing(row, center);
    flex-grow: 1;
  }

  .food-list-item-title {
    position: absolute;

    font-family: Lato, 'sans-serif';
    font-size: 20px;
    font-weight: 700;
    color: #fff;
  }

  .dessert-margin {
    padding-right: 8px;
  }

  .food-list-item-title.food-list-salad-margin {
    margin-left: 10px;
  }

  .food-list-title-img {
    width: 100%;
  }

  .food-list-item-arrow {
    @include flexing(row, center);
    flex-shrink: 0;

    width: 22%;
    background-color: $greenColor;
  }

  .food-arrow-right {
    border: solid #fff;
    border-width: 0 2px 2px 0;
    padding: 5%;
    margin-right: 11px;

    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

}