.password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-wrapper {
    position: relative;
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
}

.input-wrapper input {
    min-width: 120px;
    padding: 10px;
    margin-top: 24px;
}

.input-wrapper i {
    position: absolute;
    right: 10px;
    top: 35px;
    color: grey;
}

.check-error {
    font-size: 16px;
    color: red;
}

.btn{
    font-size: 18px;
    width: 150px;
}

.dark-theme {
    color: #fff;
    background-color: rgb(24, 25, 29);
}

.buttons-dark {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
}

