.default-border {
    border: 2px solid transparent;
}

.add-focus {
    border: 2px solid green;
}

.error-border {
    border: 2px solid red;
}

.price-block {
    margin: 10px;
}

.decorate-span {
    border: 1px solid grey;
    border-radius: 25px;

    color: grey;
    font-size: 15px;
    font-weight: 100;

    padding: 5px 10px;
}

.delete-btn {
    border: 0.5px solid grey;
    border-radius: 25px;
    margin-left: 5px;
    color: grey;
    cursor: pointer;
    background-color: transparent;
}

#result {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
}


.elements {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 50px;
    width: 270px;

    color: #fff;
    background-color: #264b96;
}

#priceInput {
    margin: 10px;
}