@media screen and (min-width: 980px){

  .footer {
    @include flexing(row, space-between);
    padding: 0 30px;
  }

  .footer-logo {
    display: block;
  }

  .footer-description {
    white-space: normal;
    font-size: 18px;
  }

}