@media screen and (min-width: 320px) {

  .footer {
    margin-top: 50px;
    @include flexing(row, center);
    height: 55px;
    background-color: $greenColor;
  }

  .footer-logo {
    display: none;
  }

  .footer-description {
    text-align: center;
    white-space: pre;
    line-height: 18px;
    font-family: Montserrat, 'sans-serif';
    color: #fff;
    font-size: 12px;
  }

}