@font-face {
    src: url('../fonts/Arimo-Regular.ttf');
    font-family: 'Arimo-Regular', sans-serif;
}
@font-face {
    src:url('../fonts/Arimo-Bold.ttf');
    font-family: 'Arimo-Bold', sans-serif;
}
body {
    font-family: 'Arimo-Regular', sans-serif;
}

/* в контейнере укажим ширину и основные свойства текста*/
.container {
    width: 1200px;
    margin: 0 auto;
    background-color: #3a4965;

    color: #848484;
    text-transform: uppercase;
    text-align: center;
}
/* класс таблици */
.price-list {
    display: block;
    padding: 25px 20px;
}

/* цвет текста шапки таблици */
.price-plan {
    color: #484848;
}

/* центрируем по вертикали и задаём размер иконок */
.fa {
    display: block;
    font-size: 1.4rem;
    vertical-align: middle;
    color: #848484;
}
/* первая ячейка таблици выбор пакета услуг */
.choose-plan {
    width: 200px;
    line-height: 21px;
    vertical-align: middle;
    font-weight: 700;
    background: #fafafa;
}
/* изменяем размер тектса в первой ячейке (choose plan)*/
.plan-first-size {
    font-size: 14px;
}
.plan-second-size {
    font-size: 20px;
}
/* верхние ячейки - задан размер шрифта,
padding - верх низ, мин. макс. ширина ячейки*/
.thead-item {
    font-family: 'Arimo-Bold', sans-serif;
    padding: 30px 0;

    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    vertical-align: middle;
}
/* наименование услуг*/
.thead-item-name {
    vertical-align: middle;
}
/* задаем background-color для четных и нечетных ячеек*/
.thead-item:nth-child(even) {
    background-color: #e3e3e3;
}
.thead-item:nth-child(odd) {
    background-color: #f2f2f2;
}

/* ячейки выбора тарифа пакета услуг (standard, ultimate, premium)*/
.plan-offer-title {
    padding: 15px 0;
    font-size: 24px;
    font-weight: 700;
    color: #fafafa;
}

/* название пакета услуг (standard, ultimate...) */
.plan-name {
    margin-bottom: 10px;
    font-size: 24px;
}
/* цена пакета услуг */
.price-offer {
    position: relative;
    margin-left: 25px;
    font-size: 36px;
    text-align: left;
}
/* псевдоэлемент после указаной цены */
.price-offer::after {
    position: absolute;
    left: 70px;
    top: 15px;
    content: 'Per Month';
    font-size: 14px;
    font-weight: 400;
}
/* */
.sup-price {
    vertical-align: super;
    font-size: 18px;
}
/* задний фон для услуг (standard, ultimate, premium) */
.offer-standard {
    background-color: #89c331;
}
.offer-ultimate {
    font-size: 30px;
    background-color: #f04a56;
}
.offer-premium {
    background-color: #20807c;
}

/* внетренний отступ ячеек сверху-снизу*/
.tbody-item {
    width: 160px;
    padding: 20px 0;
    line-height: 24px;
    vertical-align: middle;
}

/* тень и background-color к ячейкам <tbody> */
.tbody-item:nth-child(odd) {
    background-color: #f2f2f2;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2);
}
.tbody-item:nth-child(even) {
    background-color: #e3e3e3;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2);
}

/* основные свойства кнопок */
.plan-offer-btn {
    border: none;
    border-radius: 5px;

    margin-top: 20px;
    padding: 15px 30px 13px;

    color: #fff;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;

    background-color: #484848;
    box-shadow: inset 0 -8px 2px rgba(0, 0, 0, 0.2); /* inset - даёт возможность задать тень внутрь кнопки */
    transition: .7s;
}

.plan-offer-btn:hover {
    background-color: cornflowerblue;
}

