@media screen and (min-width: 980px) {

  .navbar {
    @include flexing(row, space-between);
    height: 100px;
    padding: 0 30px;
  }

  .navbar-menu {
    position: relative;
    @include flexing(row, space-between);
    top: 0;
    width: 600px;
    background-color: transparent;
  }

  .navbar-menu-item {
    padding: 0;
    width: unset;
  }
  .navbar-menu-link {
    padding: 0;

    text-transform: uppercase;
    font-size: 15px;
    color: #ebebeb;
    border: none;
  }
  .navbar-menu-item:hover .navbar-menu-link {
    color: #fff;
    background-color: transparent;
  }

  .header-content-description {
    top: 65px;
    left: 30px;
  }

  .header-content-title {
    font-size: 54px;
  }

  .header-content-link {
    margin-top: 60px;
    font-size: 34px;
  }
}