@media screen and (min-width: 320px) {
  .navbar {
    height: 37px;

    @include flexing(row, space-between);
    max-width: 100%;
    background-color: $menuBackground;
  }

  .header-logo {
    display: none;
  }

  .navbar-mobile-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-left: 17px;
    color: #fff;
  }

  .navbar-menu-button {
    @include flexing(row, center);
    width: 41px;
    height: 37px;

    color: #fff;
    background-color: $menuButtonBackground;
  }

  .navbar-menu {
    position: absolute;
    right: 0;
    top: 37px;

    width: 57%;
    @include flexing(column, normal);
    z-index: 1;
    background-color: #fafafa;
  }

  .navbar-menu-item {
    width: 100%;
    padding-bottom: 4px;
  }
  
  .navbar-menu-item:hover .navbar-menu-link{
    background-color: #f5f5f5;
  }
  
  .navbar-menu-link {
    font-family: Lato, 'sans-serif';
    color: $textColor;
    font-size: 12px;

    display: block;
    padding: 4% 0;
    padding-left: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .header-content {
    position: relative;
  }

  .header-content-img {
    width: 100%;
    height: 100%;
  }

  .header-content-description {
    position: absolute;
    top: 17px;
    left: 19px;

    font-family: 'Lato', sans-serif;
    font-weight: 700;
  }

  .header-content-title {
    font-size: 16px;
    color: #fff;
    margin-bottom: 8px;
  }
  .header-content-link {
    font-size: 14px;
    color: #a6d6e0;
  }
}