@media screen and (min-width: 640px) {
  .navbar {
    height: 75px;
    font-size: 24px;
  }

  .navbar-menu {
    top: 75px;
    font-size: 14px;
    width: 35%;
  }

  .navbar-menu-link {
    font-size: 14px;
    padding: 6% 0;
    padding-left: 25px;
  }

  .navbar-menu-button {
    height: 75px;
    width: 80px;
  }

  .navbar-mobile-title {
    font-size: 24px;
  }


  .header-content-description {
    top: 30px;
    left: 40px;
  }
  .header-content-title {
    font-size: 36px;
  }
  .header-content-link {
    font-size: 24px;
    margin-top: 22px;
  }
}