@media screen and (min-width: 640px) {

  .price-menu-title-wrapper {
    margin-top: 45px;
  }
  .price-menu-title {
    font-size: 40px;
  }

  .price-menu-subtitle {
    font-size: 20px;
  }

  .categories-container {
    margin-top: 20px;
  }

  .category-title {
    padding: 20px;
    font-size: 40px;
  }

  .category-wrapper{
    padding: 0 40px;
    margin-top: 40px;
  }

  .category-subtitle-wrapper {
    margin-top: 45px;
  }
  .category-subtitle {
    font-size: 30px;
  }

  .category-price-list-item {
    margin-top: 40px;
    font-size: 27px;
  }

  .category-price-list-item-info {
    margin-top: 15px;
    font-size: 18px;
  }

}