@media screen and (min-width: 980px) {

  .price-menu-title-wrapper {
    @include flexing(row, space-between);
    margin-top: 70px;
    padding: 0 30px;
  }

  .price-menu-logo {
    display: block;
  }

  .price-menu-title {
    font-size: 34px;
  }

  .price-menu-subtitle {
    font-size: 20px;
  }

  .category-container.category-margin {
    margin-top: 0;
  }

  .categories-container {
    display: flex;
  }

  .category-title {
    font-size: 34px;
  }

  .category-wrapper {
    margin-top: 40px;
    padding: 0 20px;
  }

  .category-subtitle {
    font-size: 26px;
  }

  .category-price-list-item {
    font-size: 24px;
  }

  .category-price-list-item-info {
    padding-left: 5px;
    font-size: 16px;
  }

}