@media screen and (min-width: 1200px) {


  .price-menu-title {
    font-size: 40px;
  }

  .category-title {
    font-size: 40px;
  }

  .category-subtitle {
    font-size: 30px;
  }

  .category-price-list-item {
    font-size: 27px;
  }

  .category-price-list-item-info {
    font-size: 18px;
  }

}
