@media screen and (min-width: 320px) {
  .price-menu {
    font-family: Lato, 'sans-serif';
  }

  .price-menu-title-wrapper {
    margin-top: 22px;
    padding-left: 6px;
  }

  .price-menu-logo {
    display: none;
  }

  .price-menu-title {
    font-size: 20px;
    color: $textColor;
    text-transform: uppercase;
  }

  .price-menu-subtitle {
    margin-top: 4px;
    font-size: 10px;
    color: #cbccce;
  }

  .categories-container {
    margin-top: 10px;
  }
  .category-title {
    padding: 9px 17px;
    color: $greenColor;
    background-color: $textColor;
    font-size: 20px;
    text-transform: uppercase;
  }
  .category-title.category-title-color {
    color: #fff;
    background-color: $greenColor;
  }

  .category-container {
    flex-grow: 1;
  }
  .category-container.category-margin {
    margin-top: 30px;
  }

  .category-wrapper {
    padding: 0 17px;
    margin-top: 11px;
  }
  .category-subtitle-wrapper {
    @include flexing(row, space-between);
  }

  .category-subtitle {
    font-size: 15px;
    text-transform: uppercase;
  }

  .category-subtitle-img-vine {
    padding-top: 5px;
    padding-right: 7px;
  }

  .category-subtitle-wrapper.second-title-margin {
    margin-top: 15px;
}
  .category-subtitle-wrapper.fourth-title-margin {
    margin-top: 18px;
  }

  .category-price-list {
    margin-top: 15px;
  }

  .category-price-list-item {
    position: relative;
    font-size: 14px;
    margin-bottom: 11px;
  }

  .category-price-list-item-title {
    padding-left: 5px;
    @include flexing(row, space-between)
  }
  .category-price-list-item-price {
    position: relative;
    font-weight: 700;
  }
  .category-price-list-item-price:before {
    content: '$';
    position: absolute;
    left: -25%;
  }

  .category-price-list-item-info {
    margin-top: 7px;
    text-align: justify;
    font-size: 9px;
  }

  .category-price-list-item:before {
    content: '·';
    position: absolute;
    left: -1%;
  }


  .category-price-list.second-category-margin {
    margin-top: 16px;
  }

  .category-wrapper.second-category-margin {
    margin-top: 16px;
  }

}