@font-face {
    src: url('../fonts/Arimo-Regular.ttf');
    font-family: 'Arimo-Regular', sans-serif;
}
@font-face {
    src:url('../fonts/Arimo-Bold.ttf');
    font-family: 'Arimo-Bold', sans-serif;
}
body {
    font-family: 'Arimo-Regular', sans-serif;
}

/* центрируем по вертикали и задаём размер иконок */
.fa {
    font-size: 1.4rem;
    vertical-align: middle;
}
/* в контейнере укажим ширину и основные свойства текста*/
.container {
    width: 1200px;
    margin: 0 auto;
    background-color: #3a4965;

    color: #848484;
    text-transform: uppercase;
    text-align: center;
}
/* класс таблици */
.price-list {
    display: block;
    padding: 25px 20px;
}

/* */
.price-plan {
    color: #484848;
    font-size: 60px;
}
/* первая ячейка таблици выбор пакета*/
.choose-plan {
    width: 310px;
    line-height: 28px;
    vertical-align: middle;
    font-weight: 700;
    background: #fafafa;
}
/* изменяем размер тектса в первой ячейке */
.plan-first-size {
    font-size: 18px;
}
.plan-second-size {
    font-size: 30px;
}

/* ячейки выбора пакета услуг (standard, ultimate, premium)*/
.plan-offer-title {
    width: 280px;
    padding: 20px 0;
    vertical-align: middle;
    font-size: 24px;
    color: #fafafa;
}
/* тень для ячеек пакет-услуг */
.plan-offer-title {
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
}

/* свойства для ячеек с ценой пакета*/
.plan-offer {
    padding: 15px 30px;
    background: #fafafa;
    font-weight: 700;
    text-align: left;
}
/* */
.price-offer {
    position: relative;
}
/* псевдоэлементы перед и после указаной цены */
.price-offer::before {
    content: '$';
}
.price-offer::after {
    position: absolute;
    right: 10px;
    top: 35px;
    content: 'Per Month';
    font-size: 18px;
    font-weight: 400;
}
/* */
.sup-price {
    vertical-align: super;
    font-size: 24px;
}
/* задний фон для услуг (standard, ultimate, premium) */
.offer-standard {
    background-color: #89c331;
}
.offer-ultimate {
    font-size: 30px;
    background-color: #f04a56;
}
.offer-premium {
    background-color: #20807c;
}

/* внетренний отступ ячеек сверху-снизу*/
.tbody-item {
    padding: 20px 0;
    vertical-align: middle;
}
/* делаем тень слева у элемента th в верху таблици*/
.plan-offer {
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    /*border-left: 1px solid rgba(0, 0, 0, 0.2);*/
}
/*задаем цвет заднего фона для нечетных строк*/
.information-line:nth-child(odd) {
    background-color: #f2f2f2;
}
/* задаем цвет фона для четных строк*/
.information-line:nth-child(even) {
    background-color: #e3e3e3;
}
/* тень от второй до четвертой ячейки,тела таблици <tbody> */
.tbody-item:nth-child(n + 2):nth-child(-n + 4) {
    /*border-left: 1px solid #d1d1d1;*/
    box-shadow: -2px 0 0 rgba(0, 0, 0, 0.1);
}
/* класс наименования услуг (storage, bandwidth, email ...)
выравниваем по вертикали и делаем отступ */
.tbody-item-name {
    vertical-align: middle;
    margin-left: 10px;
}

/* отступ для всех ячеек нижней части с кнопками */
.footer-item {
    padding: 25px 0;
}
/* задаем тень от второй ячейки до четвертой*/
.footer-item:nth-child(n + 2):nth-child(-n + 4) {
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
}

/* основные свойства кнопок */
.footer-btn {
    border: none;
    border-radius: 5px;

    padding: 20px 50px 15px 50px;

    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;

    box-shadow: inset 0 -8px 2px rgba(0, 0, 0, 0.2); /* inset - даёт возможность задать тень внутрь кнопки */
    transition: .7s;
}

.footer-btn:hover {
    background-color: cornflowerblue;
}
/* задний фон ячеек нижней части таблици с кнопками*/
.cell-contact-bg {
    background-color: #dddddd;
}
.cell-standard-bg {
    background-color: #eeeeee;
}
.cell-ultimate-bg {
    background-color: #f4f4f4;
}
.cell-premium-bg {
    background-color: #eeeeee;
}

/* задний фон кнопок внизу таблици*/
.contact-btn-bg {
    background-color: #484848;
}
 .standard-btn-bg {
     background-color: #89c331;
 }
 .ultimate-btn-bg {
     background-color: #f04a56;
 }
 .premium-btn-bg {
     background-color: #20807c;
 }
