body {
    font-family: "Myriad Pro", sans-serif;
}

.container {
    margin: 0 auto;
    width: 1280px;
}
/*header section*/
/* logo */
.logo-title {
    padding: 60px 0 45px;
    font-size: 80px;
}
.logo-title-link {
    color: #000;
    text-decoration: none;
}
.logo-blue-color {
    color: #00cbff;
}
/* header navigation */
.navigation-header {
    padding: 25px 200px;
    background-color: #35444f;
}
.navigation-header-list {
    display: inline-block;
}
.navigation-header-list-link {
    padding: 24px 20px;
    border-left: 0.5px solid transparent;
    border-right: 0.5px solid transparent;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}
.navigation-header-list-link:hover {
    border-color: rgba(255, 255, 255, 0.3);
    border-style: ridge;
    border-left-width: 0.5px;
    border-right-width: 0.5px;
    background-color: #222f3a;
}

/*content */
.content-section {
    padding: 50px 0;
}
/*content sidebar*/
.content-sidebar {
    display: inline-block;
    vertical-align: top;

    border: 1px #29424e solid;
}
.content-sidebar-list {
    cursor: default;
    list-style: none;
}
.content-sidebar-list-link {
    text-decoration: none;
}
.content-sidebar-list-paragraph {
    padding: 20px 110px 20px 45px;
    color: #3e5763;
    font-size: 27px;
    transition: transform .5s;
}
.content-sidebar-list:hover {
    color: #000;
    background-color: #dbdbdb;
}
.content-sidebar-list:hover .content-sidebar-list-paragraph {
    color: #000;
    transform: translateX(20px);
}

/*content image and text*/
.content-image-and-text {
    width: 860px;
    margin-left: 50px;
    display: inline-block;
}
.content-image {
    border: 1px #000 solid;
}
.image {
    padding: 75px 270px;
    transition: transform .7s;
}
.content-image:hover .image {
    transform: scale(1.2);
}
/*content text */
.content-description-block {
    padding: 50px 0 0;
}
.content-text {
    padding: 0 20px;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    letter-spacing: 1.2px;
    white-space: pre-line;
}
/*footer */
.footer {
    margin-bottom: 30px;
    background-color: #b4b7ba;
}
.footer-navigation {
    display: inline-block;
    width: 800px;
    padding: 20px 0 20px 40px;
}
.footer-navigation-list {
    display: inline-block;
    font-size: 24px;
    list-style: none;
    padding-left: 10px;
}
.footer-navigation-list-link {
    color: #000;
    text-decoration: none;
}
.footer-navigation-list-link:hover {
    color: #0082a9;
    border-bottom: 0.5px #0082a9 ridge;
}
.copyright {
    display: inline-block;
    margin-left: 220px;
    font-size: 20px;
}
