@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

menu {
  list-style: none; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

@media screen and (min-width: 320px) {
  .navbar {
    height: 37px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 100%;
    background-color: #373c3f; }
  .header-logo {
    display: none; }
  .navbar-mobile-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-left: 17px;
    color: #fff; }
  .navbar-menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 41px;
    height: 37px;
    color: #fff;
    background-color: #202529; }
  .navbar-menu {
    position: absolute;
    right: 0;
    top: 37px;
    width: 57%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: normal;
    -ms-flex-pack: normal;
    justify-content: normal;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1;
    background-color: #fafafa; }
  .navbar-menu-item {
    width: 100%;
    padding-bottom: 4px; }
  .navbar-menu-item:hover .navbar-menu-link {
    background-color: #f5f5f5; }
  .navbar-menu-link {
    font-family: Lato, 'sans-serif';
    color: #3f4043;
    font-size: 12px;
    display: block;
    padding: 4% 0;
    padding-left: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .header-content {
    position: relative; }
  .header-content-img {
    width: 100%;
    height: 100%; }
  .header-content-description {
    position: absolute;
    top: 17px;
    left: 19px;
    font-family: 'Lato', sans-serif;
    font-weight: 700; }
  .header-content-title {
    font-size: 16px;
    color: #fff;
    margin-bottom: 8px; }
  .header-content-link {
    font-size: 14px;
    color: #a6d6e0; } }

@media screen and (min-width: 640px) {
  .navbar {
    height: 75px;
    font-size: 24px; }
  .navbar-menu {
    top: 75px;
    font-size: 14px;
    width: 35%; }
  .navbar-menu-link {
    font-size: 14px;
    padding: 6% 0;
    padding-left: 25px; }
  .navbar-menu-button {
    height: 75px;
    width: 80px; }
  .navbar-mobile-title {
    font-size: 24px; }
  .header-content-description {
    top: 30px;
    left: 40px; }
  .header-content-title {
    font-size: 36px; }
  .header-content-link {
    font-size: 24px;
    margin-top: 22px; } }

@media screen and (min-width: 980px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100px;
    padding: 0 30px; }
  .navbar-menu {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 0;
    width: 600px;
    background-color: transparent; }
  .navbar-menu-item {
    padding: 0;
    width: unset; }
  .navbar-menu-link {
    padding: 0;
    text-transform: uppercase;
    font-size: 15px;
    color: #ebebeb;
    border: none; }
  .navbar-menu-item:hover .navbar-menu-link {
    color: #fff;
    background-color: transparent; }
  .header-content-description {
    top: 65px;
    left: 30px; }
  .header-content-title {
    font-size: 54px; }
  .header-content-link {
    margin-top: 60px;
    font-size: 34px; } }

@media screen and (min-width: 1200px) {
  .header-content-title {
    font-size: 62px; }
  .header-content-link {
    font-size: 38px; } }

@media screen and (min-width: 320px) {
  .food-list {
    margin-top: 4px; }
  .food-picture {
    width: 100%; }
  .food-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2px; }
  .food-list-title-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  .food-list-item-title {
    position: absolute;
    font-family: Lato, 'sans-serif';
    font-size: 20px;
    font-weight: 700;
    color: #fff; }
  .dessert-margin {
    padding-right: 8px; }
  .food-list-item-title.food-list-salad-margin {
    margin-left: 10px; }
  .food-list-title-img {
    width: 100%; }
  .food-list-item-arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 22%;
    background-color: #acd8ad; }
  .food-arrow-right {
    border: solid #fff;
    border-width: 0 2px 2px 0;
    padding: 5%;
    margin-right: 11px;
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); } }

@media screen and (min-width: 640px) {
  .food-list-item-title {
    font-size: 36px; } }

@media screen and (min-width: 980px) {
  .food-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .food-picture {
    width: 100%;
    height: 100%; }
  .food-list-item {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  .food-list-item-title {
    font-size: 38px; }
  .food-list-title-img {
    width: 100%;
    height: 100%; }
  .food-list-item-arrow {
    display: none; } }

@media screen and (min-width: 1200px) {
  .food-list-item-title {
    font-size: 43px; } }

@media screen and (min-width: 320px) {
  .price-menu {
    font-family: Lato, 'sans-serif'; }
  .price-menu-title-wrapper {
    margin-top: 22px;
    padding-left: 6px; }
  .price-menu-logo {
    display: none; }
  .price-menu-title {
    font-size: 20px;
    color: #3f4043;
    text-transform: uppercase; }
  .price-menu-subtitle {
    margin-top: 4px;
    font-size: 10px;
    color: #cbccce; }
  .categories-container {
    margin-top: 10px; }
  .category-title {
    padding: 9px 17px;
    color: #acd8ad;
    background-color: #3f4043;
    font-size: 20px;
    text-transform: uppercase; }
  .category-title.category-title-color {
    color: #fff;
    background-color: #acd8ad; }
  .category-container {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  .category-container.category-margin {
    margin-top: 30px; }
  .category-wrapper {
    padding: 0 17px;
    margin-top: 11px; }
  .category-subtitle-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .category-subtitle {
    font-size: 15px;
    text-transform: uppercase; }
  .category-subtitle-img-vine {
    padding-top: 5px;
    padding-right: 7px; }
  .category-subtitle-wrapper.second-title-margin {
    margin-top: 15px; }
  .category-subtitle-wrapper.fourth-title-margin {
    margin-top: 18px; }
  .category-price-list {
    margin-top: 15px; }
  .category-price-list-item {
    position: relative;
    font-size: 14px;
    margin-bottom: 11px; }
  .category-price-list-item-title {
    padding-left: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .category-price-list-item-price {
    position: relative;
    font-weight: 700; }
  .category-price-list-item-price:before {
    content: '$';
    position: absolute;
    left: -25%; }
  .category-price-list-item-info {
    margin-top: 7px;
    text-align: justify;
    font-size: 9px; }
  .category-price-list-item:before {
    content: '·';
    position: absolute;
    left: -1%; }
  .category-price-list.second-category-margin {
    margin-top: 16px; }
  .category-wrapper.second-category-margin {
    margin-top: 16px; } }

@media screen and (min-width: 640px) {
  .price-menu-title-wrapper {
    margin-top: 45px; }
  .price-menu-title {
    font-size: 40px; }
  .price-menu-subtitle {
    font-size: 20px; }
  .categories-container {
    margin-top: 20px; }
  .category-title {
    padding: 20px;
    font-size: 40px; }
  .category-wrapper {
    padding: 0 40px;
    margin-top: 40px; }
  .category-subtitle-wrapper {
    margin-top: 45px; }
  .category-subtitle {
    font-size: 30px; }
  .category-price-list-item {
    margin-top: 40px;
    font-size: 27px; }
  .category-price-list-item-info {
    margin-top: 15px;
    font-size: 18px; } }

@media screen and (min-width: 980px) {
  .price-menu-title-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 70px;
    padding: 0 30px; }
  .price-menu-logo {
    display: block; }
  .price-menu-title {
    font-size: 34px; }
  .price-menu-subtitle {
    font-size: 20px; }
  .category-container.category-margin {
    margin-top: 0; }
  .categories-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .category-title {
    font-size: 34px; }
  .category-wrapper {
    margin-top: 40px;
    padding: 0 20px; }
  .category-subtitle {
    font-size: 26px; }
  .category-price-list-item {
    font-size: 24px; }
  .category-price-list-item-info {
    padding-left: 5px;
    font-size: 16px; } }

@media screen and (min-width: 1200px) {
  .price-menu-title {
    font-size: 40px; }
  .category-title {
    font-size: 40px; }
  .category-subtitle {
    font-size: 30px; }
  .category-price-list-item {
    font-size: 27px; }
  .category-price-list-item-info {
    font-size: 18px; } }

@media screen and (min-width: 320px) {
  .footer {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 55px;
    background-color: #acd8ad; }
  .footer-logo {
    display: none; }
  .footer-description {
    text-align: center;
    white-space: pre;
    line-height: 18px;
    font-family: Montserrat, 'sans-serif';
    color: #fff;
    font-size: 12px; } }

@media screen and (min-width: 640px) {
  .footer {
    height: 100px;
    margin-top: 40px; }
  .footer-description {
    line-height: 26px;
    font-size: 18px; } }

@media screen and (min-width: 980px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 30px; }
  .footer-logo {
    display: block; }
  .footer-description {
    white-space: normal;
    font-size: 18px; } }

/*# sourceMappingURL=style.css.map */